@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

@*<h2>T_Comment</h2>
<div id="block_comments">
    @Html.Action("Index", "T_Comment", new { html_target = "block_comments" })
</div>*@

@*<h2>Project</h2>
<div id="block_comments">
    @Html.Action("Index", "TIMS_Project", new { html_target = "block_comments" })
</div>*@

@*@foreach (var x in typeof(WorkflowWeb.Models.IMSEntities).GetProperties().Where(p => p.PropertyType.Name.StartsWith("DbSet")))
    {
        var blockId = Guid.NewGuid();
        <h2>@x.Name</h2>
        <div id="block_@blockId">
            @Html.Action("Index", x.Name, new { html_target = "block_" + blockId })
        </div>
    }*@
