
    <script id="modal_template" type="text/html">
        <div class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Modal body text goes here.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script>
        
    function show_modal(id, html) {
        var mhtml = $($('#modal_template').html());
        mhtml.attr('id', id);
        mhtml.find('.modal-body').html(html);

        var m = $(mhtml).modal();
        
        }



    function LoadModalByUrl(url) {
        $.get(url, function (data) {
                LoadModal(data);
            });
    }
    </script>