@using WorkflowWeb.ViewModels
@model TIMS_RoleViewModel

@{
    var controller = ViewContext.RouteData.Values["controller"].ToString();

    var ui_html_target = (ViewContext.RouteData.Values["ui_html_target"] ?? Request.QueryString["ui_html_target"]) as string;
    var ui_list_view = (ViewContext.RouteData.Values["ui_list_view"] ?? Request.QueryString["ui_list_view"]) as string;
    var ui_modal_id = Guid.NewGuid().ToString();
    var ui_tab_id = (ViewContext.RouteData.Values["ui_tab_id"] ?? Request.QueryString["ui_tab_id"]) as string;
    var ui_route_filter = (ViewContext.RouteData.Values["ui_route_filter"] ?? Request.QueryString["ui_route_filter"]) as string;

    var ui_form_id = Guid.NewGuid().ToString();

    var currentItem = Model;
}

<h1>@currentItem.Name</h1>
<div>
    <script>
        $(function () {
            if ("@ui_tab_id" == "") {
                $('#tabs-TIMS_Role a').first().tab('show');
            }
            else {
                $('#tabs-TIMS_Role a[href="#@ui_tab_id"]').tab('show');
            }

        });
    </script>
    <div class="row">
        <div class="col-2 border-right">
            <div class="nav flex-column nav-pills" id="tabs-TIMS_Role">
                <a class="nav-link" data-toggle="pill" href="#tab-TIMS_Role-">Role Details</a>
                <a class="nav-link" data-toggle="pill" href="#tab-TIMS_Role-TIMS_UserRole">User Roles</a>
            </div>
        </div>
        <div class="col-10">
            <div class="tab-content" id="tabContent-TIMS_Role">
                <div class="tab-pane fade p-2" id="tab-TIMS_Role-">
                    @Html.Action(actionName: "Details", controllerName: controller, routeValues: new { partial = true, id = currentItem.ID, ui_html_target, ui_modal_id, ui_list_view, ui_route_filter })
                </div>
                <div class="tab-pane fade p-2" id="tab-TIMS_Role-TIMS_UserRole">
    @Html.Action(actionName: "List", controllerName: "TIMS_UserRole", routeValues: new { ui_modal_id, ui_route_filter = (new TIMS_UserRoleViewModel { RoleID = currentItem.ID }).ToRouteFilter(), ui_html_target = "tab-TIMS_Role-TIMS_UserRole", ui_list_view = "ListTable" })
</div>
            </div>
        </div>
    </div>
</div>
