<script id="formInputCheckBoxComponent" type="text/template">
    <div class="form-group row">
        <label class="col-form-label col-sm-2">{{label}}</label>
        <div class="col-sm-10">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" v-model="value" v-on:change="onInput" style="transform: scale(1.5) translateX(2px);" />
            </div>
        </div>
    </div>
</script>

<script>
    Vue.component("v-form-input-checkbox", {
        props: ['label', 'value'],
        methods: {
            onInput: function (event) {
                this.$emit('change', event.target.value)
            }
        },
        template: "#formInputCheckBoxComponent"
    });
</script>