<script id="formUploadComponent" type="text/template">
    <div class="form-group row">
        <label class="col-form-label col-sm-2">{{label}}</label>
        <div class="col-sm-10">
            <input :id="id" type="file" />  
            <div class="progress">
                <div class="progress-bar progress-bar-success" :style="{ width: progress + '%' }"> {{ progress }}%</div>
            </div>
            <div>
                <button class="btn btn-primary" v-on:click="upload">Upload file</button>
            </div>            
        </div>
    </div>
</script>

<script>

    Vue.component("v-form-upload", {

        props: ['label', 'id', 'url'],
        data: function () {
            return {
                filedata: {},
                progress: 0
            };
        },
        mounted: function () {
            var vm = this;
            vm.log("bind");

            var options = {
                autoUpload: false,
                url: vm.url,
                singleFileUploads: true,
                paramName: "file",
                sequentialUploads: true,
                replaceFileInput: false,
                formData: {test: "value" }
            };
            var uploader = $('#' + vm.id).fileupload(options);

            uploader.on("fileuploadadd", function (evt, data) {
                vm.log("Add file " + data.files[0].name);
                vm.filedata = data;
            });

            uploader.on("fileuploadstart", function (evt, data) {
                vm.log("upload start ");
            });

            uploader.on("fileuploaddone", function (evt, data) {
                vm.log("upload done");
            });

            uploader.on("fileuploadfail", function (evt, data) {
                // data.errorThrown
                // data.textStatus;
                // data.jqXHR;
                vm.log("upload failed " + data.textStatus);
            });

            uploader.on("fileuploadprogress", function (evt, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                vm.progress = progress;
                vm.log("progress " + progress);
            });

            uploader.on("fileuploadchange", function (evt, data) {
                vm.log("change " + data.files[0].name);
            });
        },
        methods:
        {
            upload: function () {
                this.filedata.submit();
            },
            log: function (msg) {
                console.log(msg);
            },
            complete: function (event) {
                this.$emit('complete', event.target.value)
            }
        },
        template: "#formUploadComponent"
    });
</script>