<script id="sidebarComponent" type="text/template">
    <nav id="sidebar">
        <div class="sidebar-header">
            <a href="#">Your Logo</a>
        </div>

        <ul class="list-unstyled">
            <li v-for="(item, index) in items">
                <a v-if="item.url == undefined" :href="'#submenu' + index" data-toggle="collapse" class="dropdown-toggle collapsed">
                    <span class="icon"><i class="fas fa-home"></i></span>{{ item.title }}
                </a>

                <ul v-if="item.url == undefined" class="list-unstyled collapse" :id="'submenu' + index">
                    <li v-for="subitem in item.items"><a :href="subitem.url">{{ subitem.title}}</a></li>
                </ul>

                <a v-if="item.url != undefined" :href="item.url">
                    <span class="icon"><i class="fas fa-info-circle"></i></span>{{ item.title }}
                </a>
            </li>
        </ul>
    </nav>

</script>

<script>

    Vue.component("v-sidebar", {

        data: function () {
            return {
                items: [
                    { title: "Home", url: "/" },
                    { title: "Interface Points", url: "/InterfacePoints" },
                    { title: "Interface Agreements", url: "/InterfaceAgreements" },
                    { title: "Action Items", url: "/ActionItems" },
                    {
                        title: "Admin", items: [
                            { title: "Project Info", url: "/Project/Info" },
                            { title: "Project Contractors", url: "/Project/Contractors" },
                            { title: "Project Packages", url: "/Project/Packages" }
                        ]
                    }
                ]
            };
        },
        template: "#sidebarComponent"
    });
</script>

<style>
    #sidebar {
        z-index: 999;
        position: fixed;
        width: 250px;
        height: 100%;
        left: 0px;
        overflow-y: auto;
        background: #455963;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

        #sidebar .sidebar-header a {
            color: #fff;
            display: block;
            text-decoration: none;
            font-weight: bold;
            letter-spacing: 3px;
            padding: 5px 0px;
        }

        #sidebar .sidebar-header {
            background-color: #e22a69;
            font-size: 20px;
            line-height: 52px;
            text-align: center;
        }

        #sidebar ul li a {
            padding: 15px 10px;
            font-size: 17px;
            display: block;
            color: #fff;
            border-bottom: 1px solid #939fa5;
            text-decoration: none;
            transition: 0.4s;
        }

            #sidebar ul li a:hover {
                color: #263238;
                background: #fff;
            }

        #sidebar ul ul a {
            font-size: 16px !important;
            padding-left: 30px !important;
            background: #263238;
        }

    a.dropdown-toggle.collapsed.dropdown-toggle::after {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 5px;
        vertical-align: 5px;
        content: "";
        border-bottom: 5px solid;
        border-right: 5px solid transparent;
        border-top: 0;
        float: right;
        margin-top: 10px;
    }

    #sidebar .dropdown-toggle::after {
        float: right;
        margin-top: 10px;
    }

    #sidebar .icon {
        padding-right: 15px;
    }
</style>